set-environment -g TMUX_PLUGIN_MANAGER_PATH "~/.config/tmux/plugins/"

set-option -sa terminal-overrides ",xterm*:Tc"
set -g mouse on

# Vim style pane selection
bind h select-pane -L
bind j select-pane -D 
bind k select-pane -U
bind l select-pane -R

# Shift Alt vim keys to switch windows
bind -n M-H previous-window
bind -n M-L next-window

# Start windows and panes at 1, not 0
set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

set -g @tpm_plugins '             \
  tmux-plugins/tpm                \
  tmux-plugins/tmux-sensible      \
  christoomey/vim-tmux-navigator  \
  niksingh710/minimal-tmux-status \
'

run "${TMUX_PLUGIN_MANAGER_PATH}tpm/tpm"

bind '"' split-window -v -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"
bind c new-window -c "#{pane_current_path}"
